.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #333333;
    text-align: center;
    height: 84px;
}

.p-footer {
    padding: 30px;
    font-size: 16px;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.content {

    max-width: 30rem;
    margin-left: 1rem;
    display: inline-block;
    margin-top: 1rem;
}

.content2 {

    max-width: 30rem;
    margin-left: 0.5rem;
    display: inline-block;
    margin-top: 1rem;
}


#id_description, #id_image,
#id_universe {

    text-align: center;

}

#id_characters,#id_powers,#id_number,#id_name{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
}

